<head>
    <meta charset="UTF-8" />
    <title>Tela de Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.component.css" />
</head>

<body>
    <div class="content">

        <div id="login">
            <form>
                <h1>Login</h1>
                <p>
                    <label for="emails">Email</label>
                    <input type="text" id="emails" name="email" [(ngModel)]="emails"
                        placeholder="ex. saojudas@gmail.com" />
                </p>

                <p>
                    <label for="senhas">Senha</label>
                    <input id="senhas" name="senha" type="password" placeholder="Coxinha123" [(ngModel)]="senha" />
                    {{senha}}
                </p>

                <p>
                    <input type="checkbox" name=" manterlogado" id=" manterlogado" value="" />
                    <label for="manterlogado"> Manter-se conectado</label>
                </p>

              
            </form>
            <button  (click)="logar()" value="Entrar">
                Entrar
            </button>
        </div>
    </div>
</body>